In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_csv('giessdenkiez_bewässerungsdaten.csv')

In [3]:
df

,id,lng,lat,bezirk,baumart,gattung,strname,pflanzjahr,zeitpunkt_der_bewaesserung,bewaesserungsmenge_in_liter,x
0,_vhs6sa3vk,13.40757,52.58571,Pankow,Linde,LINDE,Waldowstraße,1984.0,2021-03-18 09:51:34.437255+00,10.0,NaN
1,_vhs6sa3vk,13.40757,52.58571,Pankow,Linde,LINDE,Waldowstraße,1984.0,2021-03-19 06:55:11.978255+00,25.0,NaN
2,_lur9t5w9p,13.35009,52.52184,Mitte,Winter-Linde 'Greenspire',LINDE,Thomasiusstraße,2005.0,2021-03-20 12:39:22.53348+00,10.0,NaN
3,_vhs6sa3vk,13.40757,52.58571,Pankow,Linde,LINDE,Waldowstraße,1984.0,2021-03-22 10:47:32.494253+00,10.0,NaN
4,_vhs6sa3vk,13.40757,52.58571,Pankow,Linde,LINDE,Waldowstraße,1984.0,2021-03-22 10:47:38.148497+00,10.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
44900,_kqwnfta25,13.34902,52.49052,Tempelhof-Schöneberg,Sommer-Linde,LINDE,Eisenacher Straße,1981.0,NaN,100.0,NaN
44901,_210017a70f,13.41685,52.55328,Pankow,Winter-Linde,LINDE,Wisbyer Straße,2007.0,NaN,15.0,NaN
44902,_21000d1783,13.33118,52.48918,Charlottenburg-Wilmersdorf,Spitz-Ahorn,AHORN,Bundesallee,1979.0,NaN,1.0,NaN
44903,_21002a2ad7,13.44595,52.49718,Friedrichshain-Kreuzberg,Fächerblattbaum,GINKGO,Taborstraße,2020.0,NaN,27.0,NaN
44904,_lur9t5w9p,13.35009,52.52184,Mitte,Winter-Linde 'Greenspire',LINDE,Thomasiusstraße,2005.0,NaN,10.0,NaN

In [4]:
#renaming columns
df = df.rename(columns={'bezirk':'district','baumart':'species','gattung':'genus','strname':'street', 'pflanzjahr':'year','zeitpunkt_der_bewaesserung':'timing_of_watering','bewaesserungsmenge_in_liter':'watering_quantity_in_liters'})

In [5]:
df.head(50)

,id,lng,lat,district,species,genus,street,year,timing_of_watering,watering_quantity_in_liters,x
0,_vhs6sa3vk,13.40757,52.58571,Pankow,Linde,LINDE,Waldowstraße,1984.0,2021-03-18 09:51:34.437255+00,10.0,NaN
1,_vhs6sa3vk,13.40757,52.58571,Pankow,Linde,LINDE,Waldowstraße,1984.0,2021-03-19 06:55:11.978255+00,25.0,NaN
2,_lur9t5w9p,13.35009,52.52184,Mitte,Winter-Linde 'Greenspire',LINDE,Thomasiusstraße,2005.0,2021-03-20 12:39:22.53348+00,10.0,NaN
3,_vhs6sa3vk,13.40757,52.58571,Pankow,Linde,LINDE,Waldowstraße,1984.0,2021-03-22 10:47:32.494253+00,10.0,NaN
4,_vhs6sa3vk,13.40757,52.58571,Pankow,Linde,LINDE,Waldowstraße,1984.0,2021-03-22 10:47:38.148497+00,10.0,NaN
5,_lur9t5w9p,13.35009,52.52184,Mitte,Winter-Linde 'Greenspire',LINDE,Thomasiusstraße,2005.0,2021-03-24 15:50:45.936149+00,10.0,NaN
6,_cx5slhza9,13.40808,52.53714,Pankow,Gemeine Rosskastanie,ROSSKASTANIE,Kastanienallee,1998.0,2021-03-26 18:39:17.742934+00,50.0,NaN
7,_lur9t5w9p,13.35009,52.52184,Mitte,Winter-Linde 'Greenspire',LINDE,Thomasiusstraße,2005.0,2021-03-28 13:45:55.978895+00,10.0,NaN
8,_lj0cr7jul,13.46929,52.51242,Friedrichshain-Kreuzberg,Kaiser-Linde,LINDE,Scharnweberstraße,1995.0,2021-03-30 12:19:37.816403+00,25.0,NaN
9,_sqh0sipx8,13.39873,52.57284,Pankow,Baum-Hasel,HASEL,Grabbeallee,1975.0,2021-03-31 09:08:02.432121+00,10.0,NaN
10,_sqh0sipx8,13.39873,52.57284,Pankow,Baum-Hasel,HASEL,Grabbeallee,1975.0,2021-04-01 05:38:37.146181+00,10.0,NaN
11,_tgqrdcqaf,13.52435,52.48691,Lichtenberg,Spitz-Ahorn,AHORN,Marksburgstraße,1924.0,2021-04-01 07:37:46.111651+00,10.0,NaN
12,_a6j4ihttr,13.24695,52.43954,Steglitz-Zehlendorf,Winter-Linde,LINDE,Fischerhüttenstraße,2013.0,2021-04-02 10:37:11.858952+00,25.0,NaN
13,_cx5slhza9,13.40808,52.53714,Pankow,Gemeine Rosskastanie,ROSSKASTANIE,Kastanienallee,1998.0,2021-04-03 09:26:57.236575+00,50.0,NaN
14,_vhs6sa3vk,13.40757,52.58571,Pankow,Linde,LINDE,Waldowstraße,1984.0,2021-04-04 17:08:55.634193+00,50.0,NaN
15,_vhs6sa3vk,13.40757,52.58571,Pankow,Linde,LINDE,Waldowstraße,1984.0,2021-04-04 17:09:03.668017+00,25.0,NaN
16,_vhs6sa3vk,13.40757,52.58571,Pankow,Linde,LINDE,Waldowstraße,1984.0,2021-04-04 17:09:07.967357+00,5.0,NaN
17,_gmb8l5rty,13.37852,52.45991,Tempelhof-Schöneberg,Holländische Linde,LINDE,Kaiserin-Augusta-Straße,2009.0,2021-04-05 10:06:31.477172+00,50.0,NaN
18,_mtchi5pjc,13.43836,52.49892,Friedrichshain-Kreuzberg,Robinie,ROBINIE,Sorauer Straße,1961.0,2021-04-07 09:35:44.337816+00,10.0,NaN
19,_lur9t5w9p,13.35009,52.52184,Mitte,Winter-Linde 'Greenspire',LINDE,Thomasiusstraße,2005.0,2021-04-08 14:43:31.214777+00,10.0,NaN
20,_lur9t5w9p,13.35009,52.52184,Mitte,Winter-Linde 'Greenspire',LINDE,Thomasiusstraße,2005.0,2021-04-10 10:28:18.746962+00,10.0,NaN
21,_vhs6sa3vk,13.40757,52.58571,Pankow,Linde,LINDE,Waldowstraße,1984.0,2021-04-11 07:47:00.804606+00,50.0,NaN
22,_dd4dk9zxs,13.40333,52.53384,Mitte,Oxelbeere,Schwedische Mehlbeere,MEHLBEERE,Veteranenstraße,1980.0,2021-04-12 08:12:51.750905+00,50.0
23,_62xgot3vh,13.32720,52.48527,Charlottenburg-Wilmersdorf,Krim-Linde,LINDE,Wilhelmsaue,1975.0,2021-04-13 09:31:38.964527+00,25.0,NaN
24,_t1ehpzu17,13.33689,52.49589,Charlottenburg-Wilmersdorf,Krim-Linde,LINDE,Regensburger Straße,1978.0,2021-04-14 07:08:08.300835+00,5.0,NaN
25,_o07l0fh7z,13.34147,52.55705,Mitte,Holländische Linde,LINDE,Dubliner Straße,1986.0,2021-04-15 05:50:34.372213+00,50.0,NaN
26,_kae61akew,13.41564,52.55179,Pankow,Spitz-Ahorn,AHORN,Erich-Weinert-Straße,1988.0,2021-04-16 14:17:41.146881+00,10.0,NaN
27,_9fjir9r0k,13.42714,52538.00000,Pankow,Kleinkronige Winter-Linde,LINDE,Danziger Straße,1984.0,2021-04-17 07:18:50.892902+00,50.0,NaN
28,_tyn0198k7,13.30726,52.49129,Charlottenburg-Wilmersdorf,Spitz-Ahorn,AHORN,Ruhrstraße,1988.0,2021-04-18 07:13:59.509135+00,25.0,NaN
29,_vhs6sa3vk,13.40757,52.58571,Pankow,Linde,LINDE,Waldowstraße,1984.0,2021-04-19 09:00:58.598243+00,50.0,NaN
30,_euphkelp1,13.35682,52.54940,Mitte,Winter-Linde,LINDE,Utrechter Straße,2005.0,2021-04-20 05:58:12.007553+00,50.0,NaN
31,_sqh0sipx8,13.39873,52.57284,Pankow,Baum-Hasel,HASEL,Grabbeallee,1975.0,2021-04-21 08:16:32.655811+00,10.0,NaN
32,_9fjir9r0k,13.42714,52538.00000,Pankow,Kleinkronige Winter-Linde,LINDE,Danziger Straße,1984.0,2021-04-22 07:38:30.668725+00,50.0,NaN
33,_o07l0fh7z,13.34147,52.55705,Mitte,Holländische Linde,LINDE,Dubliner Straße,1986.0,2021-04-23 10:33:36.037372+00,10.0,NaN
34,_lur9t5w9p,13.35009,52.52184,Mitte,Winter-Linde 'Greenspire',LINDE,Thomasiusstraße,2005.0,2021-04-24 08:13:21.254527+00,10.0,NaN
35,_9fjir9r0k,13.42714,52538.00000,Pankow,Kleinkronige Winter-Linde,LINDE,Danziger Straße,1984.0,2021-04-25 05:49:39.526379+00,50.0,NaN
36,_kx8c9cmsr,13.31732,52.51941,Charlottenburg-Wilmersdorf,Sommer-Linde,LINDE,Galvanistraße,1991.0,2021-04-26 13:41:41.02297+00,50.0,NaN
37,_uqgfhrdtx,13.32645,52.42394,Steglitz-Zehlendorf,Sommer-Linde,LINDE,Auguststraße,1988.0,2021-04-27 08:42:38.015412+00,25.0,NaN
38,_sqh0sipx8,13.39873,52.57284,Pankow,Baum-Hasel,HASEL,Grabbeallee,1975.0,2021-04-28 06:27:22.017646+00,25.0,NaN
39,_qrj8zqmwq,13.39113,52.53059,Mitte,Sommer-Linde,LINDE,Gartenstraße,1999.0,2021-04-29 08:22:54.443507+00,10.0,NaN
40,_v78vlrf98,13.29989,52.42127,Steglitz-Zehlendorf,Winter-Linde,LINDE,Wismarer Straße,1992.0,2021-04-30 07:36:39.812719+00,50.0,NaN
41,_2rpfuy2ki,13.43480,52.47201,Neukölln,Winter-Linde,LINDE,Ilsestraße,1998.0,2021-05-01 09:07:02.944964+00,10.0,NaN
42,_lur9t5w9p,13.35009,52.52184,Mitte,Winter-Linde 'Greenspire',LINDE,Thomasiusstraße,2005.0,2021-05-02 08:26:30.909987+00,10.0,NaN
43,_9fjir9r0k,13.42714,52538.00000,Pankow,Kleinkronige Winter-Linde,LINDE,Danziger Straße,1984.0,2021-05-03 06:44:13.857881+00,50.0,NaN
44,_tqoc2j52n,13.34165,52.55716,Mitte,Oxelbeere,Schwedische Mehlbeere,MEHLBEERE,Dubliner Straße,1982.0,2021-05-04 14:11:26.567862+00,10.0
45,_zdes8f153,13.43629,52.47066,Neukölln,Japanischer Schnurbaum,NaN,Schierker Straße,1996.0,2021-05-05 06:59:22.921798+00,5.0,NaN
46,_9fjir9r0k,13.42714,52538.00000,Pankow,Kleinkronige Winter-Linde,LINDE,Danziger Straße,1984.0,2021-05-06 08:48:40.825267+00,50.0,NaN
47,_2log4oxbf,13.52796,52.48426,Lichtenberg,Gewöhnliche Esche,ESCHE,Godesberger Straße,1983.0,2021-05-07 12:20:06.653486+00,50.0,NaN
48,_k0dm3qhe4,13.34219,52.48771,Tempelhof-Schöneberg,Sommer-Linde,LINDE,Apostel-Paulus-Straße,1984.0,2021-05-08 20:31:31.131075+00,5.0,NaN
49,_o07l0fh7z,13.34147,52.55705,Mitte,Holländische Linde,LINDE,Dubliner Straße,1986.0,2021-05-09 13:00:03.50097+00,10.0,NaN

In [6]:
#There are some rows where the data is shifted by one column. We want to fix this first, before we are looking at any further cleaning.

# Identify rows with misplaced data in the year column.
misplaced_rows = df[df['x'].notna()]

# Iterate over misplaced rows to realign the data
for index, row in misplaced_rows.iterrows():
    # Extract misplaced data from the 'district' column
    misplaced_data = row['district']
    
    # Move the misplaced data to the correct column
    df.at[index, 'genus'] = row['street']
    df.at[index, 'street'] = row['year']
    df.at[index, 'year'] = row['timing_of_watering']
    df.at[index, 'timing_of_watering'] = row['watering_quantity_in_liters']
    df.at[index, 'watering_quantity_in_liters'] = row['x']

In [7]:
df.head(50)

,id,lng,lat,district,species,genus,street,year,timing_of_watering,watering_quantity_in_liters,x
0,_vhs6sa3vk,13.40757,52.58571,Pankow,Linde,LINDE,Waldowstraße,1984.0,2021-03-18 09:51:34.437255+00,10.0,NaN
1,_vhs6sa3vk,13.40757,52.58571,Pankow,Linde,LINDE,Waldowstraße,1984.0,2021-03-19 06:55:11.978255+00,25.0,NaN
2,_lur9t5w9p,13.35009,52.52184,Mitte,Winter-Linde 'Greenspire',LINDE,Thomasiusstraße,2005.0,2021-03-20 12:39:22.53348+00,10.0,NaN
3,_vhs6sa3vk,13.40757,52.58571,Pankow,Linde,LINDE,Waldowstraße,1984.0,2021-03-22 10:47:32.494253+00,10.0,NaN
4,_vhs6sa3vk,13.40757,52.58571,Pankow,Linde,LINDE,Waldowstraße,1984.0,2021-03-22 10:47:38.148497+00,10.0,NaN
5,_lur9t5w9p,13.35009,52.52184,Mitte,Winter-Linde 'Greenspire',LINDE,Thomasiusstraße,2005.0,2021-03-24 15:50:45.936149+00,10.0,NaN
6,_cx5slhza9,13.40808,52.53714,Pankow,Gemeine Rosskastanie,ROSSKASTANIE,Kastanienallee,1998.0,2021-03-26 18:39:17.742934+00,50.0,NaN
7,_lur9t5w9p,13.35009,52.52184,Mitte,Winter-Linde 'Greenspire',LINDE,Thomasiusstraße,2005.0,2021-03-28 13:45:55.978895+00,10.0,NaN
8,_lj0cr7jul,13.46929,52.51242,Friedrichshain-Kreuzberg,Kaiser-Linde,LINDE,Scharnweberstraße,1995.0,2021-03-30 12:19:37.816403+00,25.0,NaN
9,_sqh0sipx8,13.39873,52.57284,Pankow,Baum-Hasel,HASEL,Grabbeallee,1975.0,2021-03-31 09:08:02.432121+00,10.0,NaN
10,_sqh0sipx8,13.39873,52.57284,Pankow,Baum-Hasel,HASEL,Grabbeallee,1975.0,2021-04-01 05:38:37.146181+00,10.0,NaN
11,_tgqrdcqaf,13.52435,52.48691,Lichtenberg,Spitz-Ahorn,AHORN,Marksburgstraße,1924.0,2021-04-01 07:37:46.111651+00,10.0,NaN
12,_a6j4ihttr,13.24695,52.43954,Steglitz-Zehlendorf,Winter-Linde,LINDE,Fischerhüttenstraße,2013.0,2021-04-02 10:37:11.858952+00,25.0,NaN
13,_cx5slhza9,13.40808,52.53714,Pankow,Gemeine Rosskastanie,ROSSKASTANIE,Kastanienallee,1998.0,2021-04-03 09:26:57.236575+00,50.0,NaN
14,_vhs6sa3vk,13.40757,52.58571,Pankow,Linde,LINDE,Waldowstraße,1984.0,2021-04-04 17:08:55.634193+00,50.0,NaN
15,_vhs6sa3vk,13.40757,52.58571,Pankow,Linde,LINDE,Waldowstraße,1984.0,2021-04-04 17:09:03.668017+00,25.0,NaN
16,_vhs6sa3vk,13.40757,52.58571,Pankow,Linde,LINDE,Waldowstraße,1984.0,2021-04-04 17:09:07.967357+00,5.0,NaN
17,_gmb8l5rty,13.37852,52.45991,Tempelhof-Schöneberg,Holländische Linde,LINDE,Kaiserin-Augusta-Straße,2009.0,2021-04-05 10:06:31.477172+00,50.0,NaN
18,_mtchi5pjc,13.43836,52.49892,Friedrichshain-Kreuzberg,Robinie,ROBINIE,Sorauer Straße,1961.0,2021-04-07 09:35:44.337816+00,10.0,NaN
19,_lur9t5w9p,13.35009,52.52184,Mitte,Winter-Linde 'Greenspire',LINDE,Thomasiusstraße,2005.0,2021-04-08 14:43:31.214777+00,10.0,NaN
20,_lur9t5w9p,13.35009,52.52184,Mitte,Winter-Linde 'Greenspire',LINDE,Thomasiusstraße,2005.0,2021-04-10 10:28:18.746962+00,10.0,NaN
21,_vhs6sa3vk,13.40757,52.58571,Pankow,Linde,LINDE,Waldowstraße,1984.0,2021-04-11 07:47:00.804606+00,50.0,NaN
22,_dd4dk9zxs,13.40333,52.53384,Mitte,Oxelbeere,MEHLBEERE,Veteranenstraße,1980.0,2021-04-12 08:12:51.750905+00,50.0,50.0
23,_62xgot3vh,13.32720,52.48527,Charlottenburg-Wilmersdorf,Krim-Linde,LINDE,Wilhelmsaue,1975.0,2021-04-13 09:31:38.964527+00,25.0,NaN
24,_t1ehpzu17,13.33689,52.49589,Charlottenburg-Wilmersdorf,Krim-Linde,LINDE,Regensburger Straße,1978.0,2021-04-14 07:08:08.300835+00,5.0,NaN
25,_o07l0fh7z,13.34147,52.55705,Mitte,Holländische Linde,LINDE,Dubliner Straße,1986.0,2021-04-15 05:50:34.372213+00,50.0,NaN
26,_kae61akew,13.41564,52.55179,Pankow,Spitz-Ahorn,AHORN,Erich-Weinert-Straße,1988.0,2021-04-16 14:17:41.146881+00,10.0,NaN
27,_9fjir9r0k,13.42714,52538.00000,Pankow,Kleinkronige Winter-Linde,LINDE,Danziger Straße,1984.0,2021-04-17 07:18:50.892902+00,50.0,NaN
28,_tyn0198k7,13.30726,52.49129,Charlottenburg-Wilmersdorf,Spitz-Ahorn,AHORN,Ruhrstraße,1988.0,2021-04-18 07:13:59.509135+00,25.0,NaN
29,_vhs6sa3vk,13.40757,52.58571,Pankow,Linde,LINDE,Waldowstraße,1984.0,2021-04-19 09:00:58.598243+00,50.0,NaN
30,_euphkelp1,13.35682,52.54940,Mitte,Winter-Linde,LINDE,Utrechter Straße,2005.0,2021-04-20 05:58:12.007553+00,50.0,NaN
31,_sqh0sipx8,13.39873,52.57284,Pankow,Baum-Hasel,HASEL,Grabbeallee,1975.0,2021-04-21 08:16:32.655811+00,10.0,NaN
32,_9fjir9r0k,13.42714,52538.00000,Pankow,Kleinkronige Winter-Linde,LINDE,Danziger Straße,1984.0,2021-04-22 07:38:30.668725+00,50.0,NaN
33,_o07l0fh7z,13.34147,52.55705,Mitte,Holländische Linde,LINDE,Dubliner Straße,1986.0,2021-04-23 10:33:36.037372+00,10.0,NaN
34,_lur9t5w9p,13.35009,52.52184,Mitte,Winter-Linde 'Greenspire',LINDE,Thomasiusstraße,2005.0,2021-04-24 08:13:21.254527+00,10.0,NaN
35,_9fjir9r0k,13.42714,52538.00000,Pankow,Kleinkronige Winter-Linde,LINDE,Danziger Straße,1984.0,2021-04-25 05:49:39.526379+00,50.0,NaN
36,_kx8c9cmsr,13.31732,52.51941,Charlottenburg-Wilmersdorf,Sommer-Linde,LINDE,Galvanistraße,1991.0,2021-04-26 13:41:41.02297+00,50.0,NaN
37,_uqgfhrdtx,13.32645,52.42394,Steglitz-Zehlendorf,Sommer-Linde,LINDE,Auguststraße,1988.0,2021-04-27 08:42:38.015412+00,25.0,NaN
38,_sqh0sipx8,13.39873,52.57284,Pankow,Baum-Hasel,HASEL,Grabbeallee,1975.0,2021-04-28 06:27:22.017646+00,25.0,NaN
39,_qrj8zqmwq,13.39113,52.53059,Mitte,Sommer-Linde,LINDE,Gartenstraße,1999.0,2021-04-29 08:22:54.443507+00,10.0,NaN
40,_v78vlrf98,13.29989,52.42127,Steglitz-Zehlendorf,Winter-Linde,LINDE,Wismarer Straße,1992.0,2021-04-30 07:36:39.812719+00,50.0,NaN
41,_2rpfuy2ki,13.43480,52.47201,Neukölln,Winter-Linde,LINDE,Ilsestraße,1998.0,2021-05-01 09:07:02.944964+00,10.0,NaN
42,_lur9t5w9p,13.35009,52.52184,Mitte,Winter-Linde 'Greenspire',LINDE,Thomasiusstraße,2005.0,2021-05-02 08:26:30.909987+00,10.0,NaN
43,_9fjir9r0k,13.42714,52538.00000,Pankow,Kleinkronige Winter-Linde,LINDE,Danziger Straße,1984.0,2021-05-03 06:44:13.857881+00,50.0,NaN
44,_tqoc2j52n,13.34165,52.55716,Mitte,Oxelbeere,MEHLBEERE,Dubliner Straße,1982.0,2021-05-04 14:11:26.567862+00,10.0,10.0
45,_zdes8f153,13.43629,52.47066,Neukölln,Japanischer Schnurbaum,NaN,Schierker Straße,1996.0,2021-05-05 06:59:22.921798+00,5.0,NaN
46,_9fjir9r0k,13.42714,52538.00000,Pankow,Kleinkronige Winter-Linde,LINDE,Danziger Straße,1984.0,2021-05-06 08:48:40.825267+00,50.0,NaN
47,_2log4oxbf,13.52796,52.48426,Lichtenberg,Gewöhnliche Esche,ESCHE,Godesberger Straße,1983.0,2021-05-07 12:20:06.653486+00,50.0,NaN
48,_k0dm3qhe4,13.34219,52.48771,Tempelhof-Schöneberg,Sommer-Linde,LINDE,Apostel-Paulus-Straße,1984.0,2021-05-08 20:31:31.131075+00,5.0,NaN
49,_o07l0fh7z,13.34147,52.55705,Mitte,Holländische Linde,LINDE,Dubliner Straße,1986.0,2021-05-09 13:00:03.50097+00,10.0,NaN

In [8]:
# It worked so now we can drop column x.
df = df.drop(['x'], axis=1)
df

,id,lng,lat,district,species,genus,street,year,timing_of_watering,watering_quantity_in_liters
0,_vhs6sa3vk,13.40757,52.58571,Pankow,Linde,LINDE,Waldowstraße,1984.0,2021-03-18 09:51:34.437255+00,10.0
1,_vhs6sa3vk,13.40757,52.58571,Pankow,Linde,LINDE,Waldowstraße,1984.0,2021-03-19 06:55:11.978255+00,25.0
2,_lur9t5w9p,13.35009,52.52184,Mitte,Winter-Linde 'Greenspire',LINDE,Thomasiusstraße,2005.0,2021-03-20 12:39:22.53348+00,10.0
3,_vhs6sa3vk,13.40757,52.58571,Pankow,Linde,LINDE,Waldowstraße,1984.0,2021-03-22 10:47:32.494253+00,10.0
4,_vhs6sa3vk,13.40757,52.58571,Pankow,Linde,LINDE,Waldowstraße,1984.0,2021-03-22 10:47:38.148497+00,10.0
...,...,...,...,...,...,...,...,...,...,...
44900,_kqwnfta25,13.34902,52.49052,Tempelhof-Schöneberg,Sommer-Linde,LINDE,Eisenacher Straße,1981.0,NaN,100.0
44901,_210017a70f,13.41685,52.55328,Pankow,Winter-Linde,LINDE,Wisbyer Straße,2007.0,NaN,15.0
44902,_21000d1783,13.33118,52.48918,Charlottenburg-Wilmersdorf,Spitz-Ahorn,AHORN,Bundesallee,1979.0,NaN,1.0
44903,_21002a2ad7,13.44595,52.49718,Friedrichshain-Kreuzberg,Fächerblattbaum,GINKGO,Taborstraße,2020.0,NaN,27.0
44904,_lur9t5w9p,13.35009,52.52184,Mitte,Winter-Linde 'Greenspire',LINDE,Thomasiusstraße,2005.0,NaN,10.0

In [9]:
# Check the types of the columns

df.dtypes

id                              object
lng                            float64
lat                            float64
district                        object
species                         object
genus                           object
street                          object
year                            object
timing_of_watering              object
watering_quantity_in_liters     object
dtype: object

In [10]:
# I want to change year to an int, time_of_watering to date and watering_quantity_in_liters to numeric
df['year'] =  pd.to_numeric(df['year'], errors='coerce').astype('Int64')
df['watering_quantity_in_liters'] =  pd.to_numeric(df['watering_quantity_in_liters'], errors='coerce')

In [11]:
df.dtypes

id                              object
lng                            float64
lat                            float64
district                        object
species                         object
genus                           object
street                          object
year                             Int64
timing_of_watering              object
watering_quantity_in_liters    float64
dtype: object

In [12]:
# Check for NaN values
df.isna().sum()

id                                0
lng                               0
lat                               0
district                          0
species                           0
genus                          1686
street                          827
year                            219
timing_of_watering               10
watering_quantity_in_liters       0
dtype: int64

In [13]:
df[df['genus'].isna()]['species'].unique()

array(['Japanischer Schnurbaum', "Zierkirsche 'Pink Perfection'",
       'Säulenzierkirsche', "Japanische Zierkirsche 'Kanzan'",
       'Süss-Kirsche', "Zierkirsche 'Rancho'", "Zierkirsche 'Shirofugen'",
       'Japanische Blütenkirsche', 'Trauben-Kirsche', 'Blutpflaume',
       'Spiegelrinden-Kirsche', 'Scharlach-Kirsche', 'Felsen-Kirsche',
       'Säulenförmiger Schnurbaum ', 'Kirsche',
       'Gefuelltblühende Vogelkirsche', 'Spätblühende Trauben-Kirsche',
       "Trauben-Kirsche 'Watereri'", "Trauben-Kirsche 'Tiefurt'",
       'Yoshino-Kirsche', 'Pflaume', "Amur-Kirsche 'Amber Beauty'",
       'Blut-Pflaume', "Zierkirsche 'Spire'", "Zierkirsche 'Accolade'",
       'Mahagoni-Kirsche', "Mirabelle 'Von Nancy'",
       'Rotblättrige Nelken-Kirsche', "Trauben-Kirsche 'Albertii'"],
      dtype=object)

In [14]:
# As we can see the species is quite unique so for my analysis I would rather keep the genus. 
#If we have a look at the categories in genus we can see that there are a lot of different categories so in the further steps I will not keep all of them.
#Therefore I now will fill the missing genus with other and later I can use the category to group more of them together.

df['genus'].value_counts()

genus
LINDE                17928
AHORN                 8515
ROSSKASTANIE          1857
WEIßDORN              1817
HASEL                 1758
EICHE                 1652
PLATANE               1421
HAINBUCHE             1108
MEHLBEERE              947
BIRNE                  887
BIRKE                  778
ESCHE                  745
ROBINIE                675
ULME                   600
PAPPEL                 519
GLEDITSCHIE            478
GINKGO                 410
AMBERBAUM              237
APFEL                  103
ERLE                    90
MAGNOLIE                86
KASTANIE                85
HOPFENBUCHE             66
PAULOWNIE               59
WEIDE                   54
FELSENBIRNE             43
WALNUSS                 39
GÖTTERBAUM              29
HARTRIEGEL              27
KIEFER                  24
BUCHE                   23
PARROTIE                19
MAULBEERE               18
SUMPFZYPRESSE           18
KUCHENBAUM              15
ZÜRGELBAUM              12
FICHTE                  11
DOUGLASIE               11
TROMPETENBAUM            9
ZELKOVE                  8
TULPENBAUM               8
KORKBAUM                 8
LÄRCHE                   5
ESSIGBAUM                3
BLASENESCHE              3
EIBE                     3
URWELT-MAMMUTBAUM        3
SCHEINZYPRESSE           2
STINKESCHE               2
WACHOLDER                1
Name: count, dtype: int64

In [15]:
df['genus'].fillna('other', inplace=True)
df.isna().sum()

id                               0
lng                              0
lat                              0
district                         0
species                          0
genus                            0
street                         827
year                           219
timing_of_watering              10
watering_quantity_in_liters      0
dtype: int64

In [16]:
df[df['street'].isna()==True].head(20)

,id,lng,lat,district,species,genus,street,year,timing_of_watering,watering_quantity_in_liters
22549,_2100157b5a,13.37805,52.55838,Mitte,Japanische Zierkirsche 'Kanzan',other,NaN,1995,2021-07-09 22:31:12.616068+00,50.0
22550,_2100157b5a,13.37805,52.55838,Mitte,Japanische Zierkirsche 'Kanzan',other,NaN,1995,2021-07-09 22:31:34.309227+00,50.0
22551,_2100157b5a,13.37805,52.55838,Mitte,Japanische Zierkirsche 'Kanzan',other,NaN,1995,2021-07-09 22:32:03.572918+00,50.0
22552,_2100157b5d,13.37779,52.55842,Mitte,Japanische Zierkirsche 'Kanzan',other,NaN,2006,2021-07-09 22:32:23.634662+00,50.0
22553,_2100157b5d,13.37779,52.55842,Mitte,Japanische Zierkirsche 'Kanzan',other,NaN,2006,2021-07-09 22:32:35.09937+00,50.0
22554,_2100157b5d,13.37779,52.55842,Mitte,Japanische Zierkirsche 'Kanzan',other,NaN,2006,2021-07-09 22:32:46.35592+00,50.0
22555,_2100157b61,13.37737,52.55863,Mitte,Japanische Blütenkirsche,other,NaN,2001,2021-07-09 22:33:16.059583+00,50.0
22556,_2100157b61,13.37737,52.55863,Mitte,Japanische Blütenkirsche,other,NaN,2001,2021-07-09 22:33:27.937978+00,50.0
22557,_2100157b61,13.37737,52.55863,Mitte,Japanische Blütenkirsche,other,NaN,2001,2021-07-09 22:33:39.697776+00,50.0
22558,_2100157b63,13.37718,52.55864,Mitte,Japanische Blütenkirsche,other,NaN,2003,2021-07-09 22:33:59.764894+00,50.0
22559,_2100157b63,13.37718,52.55864,Mitte,Japanische Blütenkirsche,other,NaN,2003,2021-07-09 22:34:12.296982+00,50.0
22560,_2100157b63,13.37718,52.55864,Mitte,Japanische Blütenkirsche,other,NaN,2003,2021-07-09 22:34:24.500405+00,50.0
22561,_2100157b5f,13.37718,52.55860,Mitte,Japanische Zierkirsche 'Kanzan',other,NaN,1991,2021-07-09 22:34:43.06418+00,50.0
22562,_2100157b5f,13.37718,52.55860,Mitte,Japanische Zierkirsche 'Kanzan',other,NaN,1991,2021-07-09 22:34:55.632407+00,50.0
22563,_2100157b5f,13.37718,52.55860,Mitte,Japanische Zierkirsche 'Kanzan',other,NaN,1991,2021-07-09 22:35:07.981778+00,50.0
22606,_210015bde9,13.39385,52.55662,Mitte,Spitz-Ahorn,AHORN,NaN,1970,2021-07-10 21:10:57.165247+00,25.0
22795,_21001570b3,13.35549,52.56074,Mitte,Pflaumenblättriger Weiss-Dorn,WEIßDORN,NaN,2004,2021-07-14 18:57:00.648124+00,10.0
22796,_21001570b1,13.35570,52.56078,Mitte,Pflaumenblättriger Weiss-Dorn,WEIßDORN,NaN,2004,2021-07-14 18:59:11.517526+00,10.0
22797,_21001570b0,13.35576,52.56079,Mitte,Pflaumenblättriger Weiss-Dorn,WEIßDORN,NaN,2004,2021-07-14 18:59:46.131707+00,10.0
22947,_2100162adf,13.37683,52.48565,Friedrichshain-Kreuzberg,Berg-Ulme,ULME,NaN,1947,2021-07-18 19:13:53.627075+00,10.0

In [17]:
df['street'].value_counts()

street
undefined                2160
Berliner Straße           510
Sansibarstraße            466
Apostel-Paulus-Straße     395
Thomasiusstraße           388
                         ...
Vesaliusstraße              1
Am Bahnhof Westend          1
Schiffbauerdamm             1
Fritz-Reuter-Straße         1
Gäßnerweg                   1
Name: count, Length: 1757, dtype: int64

In [18]:
# Because we do have all the other information, it does not seem that the data is missing. 
# Since there already is a category called "undefined" I would add the NaN values there

df['street'].fillna('undefined', inplace=True)
df.isna().sum()

id                               0
lng                              0
lat                              0
district                         0
species                          0
genus                            0
street                           0
year                           219
timing_of_watering              10
watering_quantity_in_liters      0
dtype: int64

In [19]:
#For this trees we do not know how old they are but I do not want to drop the rows. So I will calculate the average year for the other trees and take the mean as a replacement.
df[df['year'].isna()==True].head(20)

,id,lng,lat,district,species,genus,street,year,timing_of_watering,watering_quantity_in_liters
141,_4i1ldyxly,13.26209,52.42801,Steglitz-Zehlendorf,Buche,BUCHE,undefined,<NA>,2021-05-01 09:29:48.337828+00,10.0
203,_e3a2arjnw,13.26210,52.42798,Steglitz-Zehlendorf,Eiche,EICHE,undefined,<NA>,2021-05-01 09:31:29.358264+00,10.0
693,_8bli68f3u,13.43068,52.42059,Neukölln,Linde,LINDE,undefined,<NA>,2021-06-10 10:53:26.83284+00,50.0
749,_8bli68f3u,13.43068,52.42059,Neukölln,Linde,LINDE,undefined,<NA>,2021-06-10 10:53:40.734525+00,25.0
769,_4i1ldyxly,13.26209,52.42801,Steglitz-Zehlendorf,Buche,BUCHE,undefined,<NA>,2021-04-25 13:10:08.929688+00,25.0
796,_yfilx77lh,13.43080,52.42063,Neukölln,Linde,LINDE,undefined,<NA>,2021-06-10 10:54:20.287546+00,50.0
820,_e3a2arjnw,13.26210,52.42798,Steglitz-Zehlendorf,Eiche,EICHE,undefined,<NA>,2021-04-25 13:10:21.647225+00,25.0
847,_yfilx77lh,13.43080,52.42063,Neukölln,Linde,LINDE,undefined,<NA>,2021-06-10 10:54:36.692989+00,25.0
897,_85nlvrex9,13.43070,52.42082,Neukölln,Rot-Buche,BUCHE,undefined,<NA>,2021-06-10 10:54:51.425977+00,50.0
898,_85nlvrex9,13.43070,52.42082,Neukölln,Rot-Buche,BUCHE,undefined,<NA>,2021-06-10 10:54:59.742668+00,25.0
949,_axggrm6np,13.43079,52.42095,Neukölln,Linde,LINDE,undefined,<NA>,2021-06-10 10:57:02.068264+00,50.0
1001,_axggrm6np,13.43079,52.42095,Neukölln,Linde,LINDE,undefined,<NA>,2021-06-10 10:57:13.580283+00,25.0
1051,_9gyeuxr1i,13.43087,52.42094,Neukölln,Linde,LINDE,undefined,<NA>,2021-06-10 10:57:27.722135+00,50.0
1052,_9gyeuxr1i,13.43087,52.42094,Neukölln,Linde,LINDE,undefined,<NA>,2021-06-10 10:57:35.47546+00,25.0
1097,_lwow4yd9o,13.43085,52.42087,Neukölln,Linde,LINDE,undefined,<NA>,2021-06-10 10:57:47.247326+00,50.0
1098,_lwow4yd9o,13.43085,52.42087,Neukölln,Linde,LINDE,undefined,<NA>,2021-06-10 10:57:56.29188+00,25.0
1140,_e81zogsuo,13.43093,52.42086,Neukölln,Linde,LINDE,undefined,<NA>,2021-06-10 10:58:08.201704+00,50.0
1141,_e81zogsuo,13.43093,52.42086,Neukölln,Linde,LINDE,undefined,<NA>,2021-06-10 10:58:15.096234+00,25.0
1189,_o57u1slp5,13.43091,52.42078,Neukölln,Winter-Linde,LINDE,undefined,<NA>,2021-06-10 10:58:31.653717+00,50.0
1190,_o57u1slp5,13.43091,52.42078,Neukölln,Winter-Linde,LINDE,undefined,<NA>,2021-06-10 10:58:39.518345+00,25.0

In [20]:
round(df['year'].mean())

1991

In [21]:
df['year'] = df['year'].fillna(round(df['year'].mean()))
df.isna().sum()

id                              0
lng                             0
lat                             0
district                        0
species                         0
genus                           0
street                          0
year                            0
timing_of_watering             10
watering_quantity_in_liters     0
dtype: int64

In [22]:
df[df['timing_of_watering'].isna()==True].head(20)

,id,lng,lat,district,species,genus,street,year,timing_of_watering,watering_quantity_in_liters
530,_4zfelgb7o,13.43227,52.50214,Friedrichshain-Kreuzberg,Chinesische Wild-Birne,BIRNE,Eisenbahnstraße,2017,NaN,80.0
1179,_2100109154,13.24394,52.60910,Reinickendorf,Spitz-Ahorn,AHORN,Am Bärensprung,2008,NaN,25.0
44897,_21001e4ac2,13.57423,52.45513,Treptow-Köpenick,Echter Rotdorn,WEIßDORN,Hämmerlingstraße,2005,NaN,5.0
44898,_21001e4ac2,13.57423,52.45513,Treptow-Köpenick,Echter Rotdorn,WEIßDORN,Hämmerlingstraße,2005,NaN,5.0
44899,_kqwnfta25,13.34902,52.49052,Tempelhof-Schöneberg,Sommer-Linde,LINDE,Eisenacher Straße,1981,NaN,100.0
44900,_kqwnfta25,13.34902,52.49052,Tempelhof-Schöneberg,Sommer-Linde,LINDE,Eisenacher Straße,1981,NaN,100.0
44901,_210017a70f,13.41685,52.55328,Pankow,Winter-Linde,LINDE,Wisbyer Straße,2007,NaN,15.0
44902,_21000d1783,13.33118,52.48918,Charlottenburg-Wilmersdorf,Spitz-Ahorn,AHORN,Bundesallee,1979,NaN,1.0
44903,_21002a2ad7,13.44595,52.49718,Friedrichshain-Kreuzberg,Fächerblattbaum,GINKGO,Taborstraße,2020,NaN,27.0
44904,_lur9t5w9p,13.35009,52.52184,Mitte,Winter-Linde 'Greenspire',LINDE,Thomasiusstraße,2005,NaN,10.0

In [23]:
# There is no good replacement for timin_of_watering and if I want to look at correlations between the weather I need the timing.
# So I will drop these 10 rows.

df = df.dropna(subset=['timing_of_watering'])
df

,id,lng,lat,district,species,genus,street,year,timing_of_watering,watering_quantity_in_liters
0,_vhs6sa3vk,13.40757,52.58571,Pankow,Linde,LINDE,Waldowstraße,1984,2021-03-18 09:51:34.437255+00,10.0
1,_vhs6sa3vk,13.40757,52.58571,Pankow,Linde,LINDE,Waldowstraße,1984,2021-03-19 06:55:11.978255+00,25.0
2,_lur9t5w9p,13.35009,52.52184,Mitte,Winter-Linde 'Greenspire',LINDE,Thomasiusstraße,2005,2021-03-20 12:39:22.53348+00,10.0
3,_vhs6sa3vk,13.40757,52.58571,Pankow,Linde,LINDE,Waldowstraße,1984,2021-03-22 10:47:32.494253+00,10.0
4,_vhs6sa3vk,13.40757,52.58571,Pankow,Linde,LINDE,Waldowstraße,1984,2021-03-22 10:47:38.148497+00,10.0
...,...,...,...,...,...,...,...,...,...,...
44892,_lur9t5w9p,13.35009,52.52184,Mitte,Winter-Linde 'Greenspire',LINDE,Thomasiusstraße,2005,2022-12-20 14:46:07.025Z,10.0
44893,_lur9t5w9p,13.35009,52.52184,Mitte,Winter-Linde 'Greenspire',LINDE,Thomasiusstraße,2005,2022-12-22 14:00:14.269Z,10.0
44894,_lur9t5w9p,13.35009,52.52184,Mitte,Winter-Linde 'Greenspire',LINDE,Thomasiusstraße,2005,2022-12-24 14:40:08.440Z,10.0
44895,_agi2nuc3l,13.38829,52.48397,Tempelhof-Schöneberg,Ahornblättrige Platane,PLATANE,Platz der Luftbrücke,1929,2023-02-22 14:00:00.000Z,60.0
44896,_lj0cr7jul,13.46929,52.51242,Friedrichshain-Kreuzberg,Kaiser-Linde,LINDE,Scharnweberstraße,1995,2023-03-18 14:54:23.160Z,25.0

In [24]:
# No I want to check for duplicates
df.duplicated().sum()

23

In [25]:
# Filter the DataFrame to show duplicate rows
df[df.duplicated()]

,id,lng,lat,district,species,genus,street,year,timing_of_watering,watering_quantity_in_liters
30210,_2100163c6c,13.40772,52.49160,Friedrichshain-Kreuzberg,Schwarz-Ahorn 'Faassen's Black',AHORN,Fontanepromenade,1978,2022-05-10T13:00:00.000Z,5.0
32396,_21000c09ea,13.29334,52.50397,Charlottenburg-Wilmersdorf,Echter Rotdorn,WEIßDORN,Friedbergstraße,1991,2022-06-01T13:00:00.000Z,30.0
32398,_21000c09e9,13.29324,52.50396,Charlottenburg-Wilmersdorf,Echter Rotdorn,WEIßDORN,Friedbergstraße,2001,2022-06-01T13:00:00.000Z,30.0
32410,_21000c09e9,13.29324,52.50396,Charlottenburg-Wilmersdorf,Echter Rotdorn,WEIßDORN,Friedbergstraße,2001,2022-06-09T13:00:00.000Z,30.0
32411,_21000cede7,13.29315,52.50394,Charlottenburg-Wilmersdorf,Echter Rotdorn,WEIßDORN,Friedbergstraße,2000,2022-06-09T13:00:00.000Z,30.0
32413,_21000cede7,13.29315,52.50394,Charlottenburg-Wilmersdorf,Echter Rotdorn,WEIßDORN,Friedbergstraße,2000,2022-06-13T13:00:00.000Z,30.0
33183,_2100163d93,13.41920,52492.00000,Friedrichshain-Kreuzberg,Ahornblättrige Platane,PLATANE,Dieffenbachstraße,1960,2022-06-17T13:00:00.000Z,100.0
33220,_210018d4ae,13.42609,52.60632,Pankow,Sommer-Eiche,EICHE,undefined,1998,2022-06-17T13:00:00.000Z,20.0
33388,_21000d1a5d,13.31736,52.47375,Charlottenburg-Wilmersdorf,Berg-Ahorn,AHORN,Ahrweilerstraße,1955,2022-06-21T13:00:00.000Z,5.0
33391,_21000d1a5f,13.31733,52.47364,Charlottenburg-Wilmersdorf,Berg-Ahorn,AHORN,Ahrweilerstraße,1955,2022-06-21T13:00:00.000Z,5.0
35609,_2100102124,13.28211,52.44053,Steglitz-Zehlendorf,Gemeine Rosskastanie,ROSSKASTANIE,Dahlemer Weg,1965,2022-07-06T13:00:00.000Z,10.0
36550,_21000bd0ad,13.42661,52.47332,Neukölln,Winter-Linde,LINDE,Leinestraße,1991,2022-07-01T13:00:00.000Z,20.0
37485,_svuy0i5of,13.43828,52.46638,Neukölln,Silber-Linde,LINDE,Kranoldplatz,2006,2022-07-20T13:00:00.000Z,20.0
37487,_21000bd021,13.43760,52.46630,Neukölln,Silber-Linde,LINDE,Kranoldplatz,1998,2022-07-20T13:00:00.000Z,20.0
37489,_z1htjv394,13.43731,52.46627,Neukölln,Silber-Linde,LINDE,Kranoldplatz,2006,2022-07-20T13:00:00.000Z,20.0
38659,_21001838bb,13.41755,52.53665,Pankow,Winter-Linde 'Greenspire',LINDE,Wörther Straße,2008,2022-07-28T13:00:00.000Z,7.0
38953,_21001556fc,13.37456,52.50644,Mitte,Kaiser-Linde,LINDE,Linkstraße,1997,2022-07-30T13:00:00.000Z,15.0
39849,_21001d52d2,13.54715,52.44029,Treptow-Köpenick,Berg-Ahorn,AHORN,Hoffmannstraße,1937,2022-08-04T13:00:00.000Z,20.0
40133,_2zk8qshnu,13.29169,52.50382,Charlottenburg-Wilmersdorf,Krim-Linde,LINDE,Suarezstraße,1977,2022-07-18T13:00:00.000Z,50.0
40425,_210018af0a,13.39902,52.57285,Pankow,Baum-Hasel,HASEL,Grabbeallee,1975,2022-08-07T13:00:00.000Z,40.0
41672,_2100214633,13.26474,52.43546,Steglitz-Zehlendorf,Winter-Linde,LINDE,Berliner Straße,2015,2022-08-12T13:00:00.000Z,20.0
42705,_210028fd59,13.41019,52.57171,Pankow,Blumen-Esche,ESCHE,Eintrachtstraße,2020,2022-07-24T13:00:00.000Z,20.0
43179,_2omizsjdb,13.30278,52.51605,Charlottenburg-Wilmersdorf,Winter-Linde 'Greenspire',LINDE,Gierkezeile,2011,2022-07-03T13:00:00.000Z,20.0

In [26]:
# As we can see that are no real duplicates. So we can keep them in our dataset.

In [27]:
#Let's check our weather data
df_weather = pd.read_csv('weather_data_2020-2022.csv')
df_weather = df_weather.drop(['Unnamed: 0'], axis=1)
df_weather

,date,temperature_2m_max,temperature_2m_min,temperature_2m_mean,sunrise,sunset,daylight_duration,sunshine_duration,rain_sum,snowfall_sum,wind_speed_10m_max,wind_gusts_10m_max,wind_direction_10m_dominant
0,2019-12-31 22:00:00+00:00,4.058500,-1.0415,1.137667,0,0,27881.643,22130.133,0.0,0.0,12.313894,22.680000,255.11134
1,2020-01-01 22:00:00+00:00,5.308500,-3.6915,-0.468583,0,0,27955.460,22598.525,0.0,0.0,13.979872,24.480000,225.24074
2,2020-01-02 22:00:00+00:00,6.358500,-1.3915,4.073083,0,0,28035.492,0.000,3.2,0.0,22.702845,39.960000,223.36345
3,2020-01-03 22:00:00+00:00,6.308500,2.1585,4.018917,0,0,28121.555,0.000,4.5,0.0,32.571545,74.159996,278.52340
4,2020-01-04 22:00:00+00:00,3.758500,-1.8415,1.100167,0,0,28213.480,22702.186,0.0,0.0,19.642280,34.920000,269.59763
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1091,2022-12-26 22:00:00+00:00,5.708500,1.7585,3.664750,0,0,27621.602,14976.837,0.0,0.0,30.903435,55.079998,254.13289
1092,2022-12-27 22:00:00+00:00,7.408500,2.4085,5.352250,0,0,27661.104,0.000,2.2,0.0,24.826954,42.480000,212.53197
1093,2022-12-28 22:00:00+00:00,12.308500,6.9085,9.035584,0,0,27707.484,11942.952,1.4,0.0,28.284640,48.960000,219.09770
1094,2022-12-29 22:00:00+00:00,8.508500,4.2585,6.783499,0,0,27761.236,21435.035,0.5,0.0,27.193705,45.719997,208.40965
1095,2022-12-30 22:00:00+00:00,16.508501,8.8585,13.314751,0,0,27822.293,0.000,4.5,0.0,30.319178,52.199997,220.55455

In [28]:
df_weather.dtypes

date                            object
temperature_2m_max             float64
temperature_2m_min             float64
temperature_2m_mean            float64
sunrise                          int64
sunset                           int64
daylight_duration              float64
sunshine_duration              float64
rain_sum                       float64
snowfall_sum                   float64
wind_speed_10m_max             float64
wind_gusts_10m_max             float64
wind_direction_10m_dominant    float64
dtype: object

In [29]:
df_weather.isna().sum()

date                           0
temperature_2m_max             0
temperature_2m_min             0
temperature_2m_mean            0
sunrise                        0
sunset                         0
daylight_duration              0
sunshine_duration              0
rain_sum                       0
snowfall_sum                   0
wind_speed_10m_max             0
wind_gusts_10m_max             0
wind_direction_10m_dominant    0
dtype: int64

In [30]:
df_weather.duplicated().sum()

0

In [31]:
# It looks like we can directly work with this data. I want to merge the two dataframes based on the date.
# The weather data is a daily average so I do not need the time but the date in both datasets.
# First I need to convert date to datetime

df_weather['date'] = pd.to_datetime(df_weather['date'])
df_weather['date'] = df_weather['date'].dt.date
df_weather

,date,temperature_2m_max,temperature_2m_min,temperature_2m_mean,sunrise,sunset,daylight_duration,sunshine_duration,rain_sum,snowfall_sum,wind_speed_10m_max,wind_gusts_10m_max,wind_direction_10m_dominant
0,2019-12-31,4.058500,-1.0415,1.137667,0,0,27881.643,22130.133,0.0,0.0,12.313894,22.680000,255.11134
1,2020-01-01,5.308500,-3.6915,-0.468583,0,0,27955.460,22598.525,0.0,0.0,13.979872,24.480000,225.24074
2,2020-01-02,6.358500,-1.3915,4.073083,0,0,28035.492,0.000,3.2,0.0,22.702845,39.960000,223.36345
3,2020-01-03,6.308500,2.1585,4.018917,0,0,28121.555,0.000,4.5,0.0,32.571545,74.159996,278.52340
4,2020-01-04,3.758500,-1.8415,1.100167,0,0,28213.480,22702.186,0.0,0.0,19.642280,34.920000,269.59763
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1091,2022-12-26,5.708500,1.7585,3.664750,0,0,27621.602,14976.837,0.0,0.0,30.903435,55.079998,254.13289
1092,2022-12-27,7.408500,2.4085,5.352250,0,0,27661.104,0.000,2.2,0.0,24.826954,42.480000,212.53197
1093,2022-12-28,12.308500,6.9085,9.035584,0,0,27707.484,11942.952,1.4,0.0,28.284640,48.960000,219.09770
1094,2022-12-29,8.508500,4.2585,6.783499,0,0,27761.236,21435.035,0.5,0.0,27.193705,45.719997,208.40965
1095,2022-12-30,16.508501,8.8585,13.314751,0,0,27822.293,0.000,4.5,0.0,30.319178,52.199997,220.55455

In [32]:
# Now we need to change the date column in the df, too.

df['timing_of_watering'] = pd.to_datetime(df['timing_of_watering'], format='mixed')
df['timing_of_watering'] = df['timing_of_watering'].dt.date
df

C:\Users\hanne\AppData\Local\Temp\ipykernel_152\2878642588.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['timing_of_watering'] = pd.to_datetime(df['timing_of_watering'], format='mixed')
C:\Users\hanne\AppData\Local\Temp\ipykernel_152\2878642588.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['timing_of_watering'] = df['timing_of_watering'].dt.date

,id,lng,lat,district,species,genus,street,year,timing_of_watering,watering_quantity_in_liters
0,_vhs6sa3vk,13.40757,52.58571,Pankow,Linde,LINDE,Waldowstraße,1984,2021-03-18,10.0
1,_vhs6sa3vk,13.40757,52.58571,Pankow,Linde,LINDE,Waldowstraße,1984,2021-03-19,25.0
2,_lur9t5w9p,13.35009,52.52184,Mitte,Winter-Linde 'Greenspire',LINDE,Thomasiusstraße,2005,2021-03-20,10.0
3,_vhs6sa3vk,13.40757,52.58571,Pankow,Linde,LINDE,Waldowstraße,1984,2021-03-22,10.0
4,_vhs6sa3vk,13.40757,52.58571,Pankow,Linde,LINDE,Waldowstraße,1984,2021-03-22,10.0
...,...,...,...,...,...,...,...,...,...,...
44892,_lur9t5w9p,13.35009,52.52184,Mitte,Winter-Linde 'Greenspire',LINDE,Thomasiusstraße,2005,2022-12-20,10.0
44893,_lur9t5w9p,13.35009,52.52184,Mitte,Winter-Linde 'Greenspire',LINDE,Thomasiusstraße,2005,2022-12-22,10.0
44894,_lur9t5w9p,13.35009,52.52184,Mitte,Winter-Linde 'Greenspire',LINDE,Thomasiusstraße,2005,2022-12-24,10.0
44895,_agi2nuc3l,13.38829,52.48397,Tempelhof-Schöneberg,Ahornblättrige Platane,PLATANE,Platz der Luftbrücke,1929,2023-02-22,60.0
44896,_lj0cr7jul,13.46929,52.51242,Friedrichshain-Kreuzberg,Kaiser-Linde,LINDE,Scharnweberstraße,1995,2023-03-18,25.0

In [33]:
# Now we can merge the two dataframes

merged_df = pd.merge(df, df_weather, left_on='timing_of_watering', right_on='date', how='left')
merged_df

,id,lng,lat,district,species,genus,street,year,timing_of_watering,watering_quantity_in_liters,date,temperature_2m_max,temperature_2m_min,temperature_2m_mean,sunrise,sunset,daylight_duration,sunshine_duration,rain_sum,snowfall_sum,wind_speed_10m_max,wind_gusts_10m_max,wind_direction_10m_dominant
0,_vhs6sa3vk,13.40757,52.58571,Pankow,Linde,LINDE,Waldowstraße,1984,2021-03-18,10.0,2021-03-18,4.058500,-2.8915,0.368917,0.0,0.0,43613.230,38995.04300,0.500000,0.70,27.475807,50.399998,14.954717
1,_vhs6sa3vk,13.40757,52.58571,Pankow,Linde,LINDE,Waldowstraße,1984,2021-03-19,25.0,2021-03-19,3.358500,-3.9915,0.258500,0.0,0.0,43863.105,25733.00400,0.000000,0.07,19.969458,33.839996,283.619020
2,_lur9t5w9p,13.35009,52.52184,Mitte,Winter-Linde 'Greenspire',LINDE,Thomasiusstraße,2005,2021-03-20,10.0,2021-03-20,9.158501,1.9585,5.046000,0.0,0.0,44112.766,18649.12300,2.100000,0.00,30.421598,54.719997,292.121980
3,_vhs6sa3vk,13.40757,52.58571,Pankow,Linde,LINDE,Waldowstraße,1984,2021-03-22,10.0,2021-03-22,7.608500,3.6085,5.585583,0.0,0.0,44610.863,972.37836,0.000000,0.00,15.893093,27.720000,286.914670
4,_vhs6sa3vk,13.40757,52.58571,Pankow,Linde,LINDE,Waldowstraße,1984,2021-03-22,10.0,2021-03-22,7.608500,3.6085,5.585583,0.0,0.0,44610.863,972.37836,0.000000,0.00,15.893093,27.720000,286.914670
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44890,_lur9t5w9p,13.35009,52.52184,Mitte,Winter-Linde 'Greenspire',LINDE,Thomasiusstraße,2005,2022-12-20,10.0,2022-12-20,6.808500,4.3085,5.558500,0.0,0.0,27526.953,0.00000,2.800000,0.00,16.394829,29.880000,210.208280
44891,_lur9t5w9p,13.35009,52.52184,Mitte,Winter-Linde 'Greenspire',LINDE,Thomasiusstraße,2005,2022-12-22,10.0,2022-12-22,6.358500,3.2085,4.662667,0.0,0.0,27531.520,7266.53700,5.900001,0.00,13.202726,23.039999,228.884500
44892,_lur9t5w9p,13.35009,52.52184,Mitte,Winter-Linde 'Greenspire',LINDE,Thomasiusstraße,2005,2022-12-24,10.0,2022-12-24,8.008500,4.9085,6.173083,0.0,0.0,27563.006,1775.98520,5.200000,0.00,18.899143,31.680000,171.450380
44893,_agi2nuc3l,13.38829,52.48397,Tempelhof-Schöneberg,Ahornblättrige Platane,PLATANE,Platz der Luftbrücke,1929,2023-02-22,60.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44894,_lj0cr7jul,13.46929,52.51242,Friedrichshain-Kreuzberg,Kaiser-Linde,LINDE,Scharnweberstraße,1995,2023-03-18,25.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
merged_df.isna().sum()

id                             0
lng                            0
lat                            0
district                       0
species                        0
genus                          0
street                         0
year                           0
timing_of_watering             0
watering_quantity_in_liters    0
date                           2
temperature_2m_max             2
temperature_2m_min             2
temperature_2m_mean            2
sunrise                        2
sunset                         2
daylight_duration              2
sunshine_duration              2
rain_sum                       2
snowfall_sum                   2
wind_speed_10m_max             2
wind_gusts_10m_max             2
wind_direction_10m_dominant    2
dtype: int64

In [35]:
#There are two rows from 2023. We will drop them. And we can drop the date column, because we do not need it in the dataframe twice.
merged_df = merged_df.dropna(subset=['date'])
merged_df = merged_df.drop(['date'], axis=1)
merged_df

,id,lng,lat,district,species,genus,street,year,timing_of_watering,watering_quantity_in_liters,temperature_2m_max,temperature_2m_min,temperature_2m_mean,sunrise,sunset,daylight_duration,sunshine_duration,rain_sum,snowfall_sum,wind_speed_10m_max,wind_gusts_10m_max,wind_direction_10m_dominant
0,_vhs6sa3vk,13.40757,52.58571,Pankow,Linde,LINDE,Waldowstraße,1984,2021-03-18,10.0,4.058500,-2.8915,0.368917,0.0,0.0,43613.230,38995.04300,0.500000,0.70,27.475807,50.399998,14.954717
1,_vhs6sa3vk,13.40757,52.58571,Pankow,Linde,LINDE,Waldowstraße,1984,2021-03-19,25.0,3.358500,-3.9915,0.258500,0.0,0.0,43863.105,25733.00400,0.000000,0.07,19.969458,33.839996,283.619020
2,_lur9t5w9p,13.35009,52.52184,Mitte,Winter-Linde 'Greenspire',LINDE,Thomasiusstraße,2005,2021-03-20,10.0,9.158501,1.9585,5.046000,0.0,0.0,44112.766,18649.12300,2.100000,0.00,30.421598,54.719997,292.121980
3,_vhs6sa3vk,13.40757,52.58571,Pankow,Linde,LINDE,Waldowstraße,1984,2021-03-22,10.0,7.608500,3.6085,5.585583,0.0,0.0,44610.863,972.37836,0.000000,0.00,15.893093,27.720000,286.914670
4,_vhs6sa3vk,13.40757,52.58571,Pankow,Linde,LINDE,Waldowstraße,1984,2021-03-22,10.0,7.608500,3.6085,5.585583,0.0,0.0,44610.863,972.37836,0.000000,0.00,15.893093,27.720000,286.914670
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44888,_lur9t5w9p,13.35009,52.52184,Mitte,Winter-Linde 'Greenspire',LINDE,Thomasiusstraße,2005,2022-12-15,10.0,-1.791500,-9.0415,-5.191500,0.0,0.0,27631.271,20366.82200,0.000000,0.00,10.086427,18.000000,49.323080
44889,_lur9t5w9p,13.35009,52.52184,Mitte,Winter-Linde 'Greenspire',LINDE,Thomasiusstraße,2005,2022-12-17,10.0,-2.491500,-7.4915,-5.847750,0.0,0.0,27569.947,21621.82000,0.000000,0.00,17.610588,29.160000,148.609790
44890,_lur9t5w9p,13.35009,52.52184,Mitte,Winter-Linde 'Greenspire',LINDE,Thomasiusstraße,2005,2022-12-20,10.0,6.808500,4.3085,5.558500,0.0,0.0,27526.953,0.00000,2.800000,0.00,16.394829,29.880000,210.208280
44891,_lur9t5w9p,13.35009,52.52184,Mitte,Winter-Linde 'Greenspire',LINDE,Thomasiusstraße,2005,2022-12-22,10.0,6.358500,3.2085,4.662667,0.0,0.0,27531.520,7266.53700,5.900001,0.00,13.202726,23.039999,228.884500
44892,_lur9t5w9p,13.35009,52.52184,Mitte,Winter-Linde 'Greenspire',LINDE,Thomasiusstraße,2005,2022-12-24,10.0,8.008500,4.9085,6.173083,0.0,0.0,27563.006,1775.98520,5.200000,0.00,18.899143,31.680000,171.450380

In [47]:
# We also want to add socio ecnomic values
df_education = pd.read_csv('data_education.csv') 
df_age = pd.read_csv('data_age.csv')
df_income = pd.read_csv('data_income.csv')
df_working_life = pd.read_csv('data_working_life.csv')

In [48]:
df_income

,Bezirk,unter\n1 500,unter\n1 500 (%),1 500\n–\n2 000,1 500\n–\n2 000 (%),2 000\n–\n3 000,2 000\n–\n3 000 (%),3 000\n–\n4 000,3 000\n–\n4 000 (%),4 000\nund mehr,4 000\nund mehr (%),Gini-Koeffizient,Realtive Armutsgefährdungslücke,Armutsgefährdungsquote
0,Mitte,47200,"21,8",27800,"12,9",52900,"24,5",29900,"13,8",58300,27,"0,35","20,9","23,2"
1,Friedrichshain-Kreuzberg,30100,"18,5",22600,"13,9",39700,"24,4",26900,"16,5",43300,"26,6","0,33","18,3",18
2,Pankow,37100,"17,6",23100,11,51800,"24,6",29400,"13,9",69400,"32,9","0,3","20,2","12,1"
3,Charlottenburg-Wilmersdorf,36000,"19,6",24500,"13,3",38600,21,26500,"14,4",57900,"31,5","0,33","19,1","13,5"
4,Spandau,27500,22,17700,"14,2",31500,"25,2",20400,"16,3",27900,"22,3","0,27","20,7","20,4"
5,Steglitz-Zehlendorf,32200,"21,1",20500,"13,4",32500,"21,3",20200,"13,2",47500,"31,1","0,32","16,2","16,5"
6,Tempelhof-Schöneberg,43100,23,26700,"14,2",49700,"26,5",27400,"14,6",40600,"21,6","0,29","19,3",18
7,Neukölln,45500,"27,1",24000,"14,3",38600,"22,9",28400,"16,9",31700,"18,8","0,32","22,2","29,4"
8,Treptow-Köpenick,27000,"18,5",21300,"14,6",39000,"26,7",19400,"13,3",39500,27,"0,25","18,8","13,2"
9,Marzahn-Hellersdorf,28000,"19,9",23700,"16,8",40900,29,25100,"17,8",23300,"16,5","0,25","18,7","20,4"
10,Lichtenberg,35800,"22,4",22400,14,43100,27,28400,"17,8",29700,"18,6","0,27","20,2","20,2"
11,Reinickendorf,23000,"17,8",20100,"15,5",31900,"24,7",20200,"15,6",33900,"26,2","0,29","17,8","18,8"

In [49]:
df_socio_economic = pd.merge(df_education, df_age, on = 'Bezirk', how='inner')
df_socio_economic = pd.merge(df_socio_economic, df_income, on = 'Bezirk', how='inner')
df_socio_economic = pd.merge(df_socio_economic, df_working_life, on = 'Bezirk', how='inner')
df_socio_economic

,Bezirk,ohne Schulabschluss,mit Schulabschluss,Haupt-/Volksschule,Anteil Haupt-/Volksschule,POS,Realschule oder gleichwertig,Anteil Realschule,(Fach) Hochschulreife,Anteil (Fach)Hochschulreife,ohne Berufsabschluss ins.,ohne Abschluss in Ausbildung,ohne Abschluss nicht in Ausbildung,mit Berufsabschluss,Lehre/Berufsausbildung,Anteil Lehre,Fachschule,Anteil Fachschule,Fachschule DDR,akademische Abschlüsse,Anteil akademische Abschlüsse,Bevölkerung mit niedrigem Bildungsstand,Einwohnende,Alter: unter 18,Alter: 18-64,Alter: 65 +,Anteil unter 18,Anteil 18-64,Anteil 65+,Durchschnittsalter,männlich,weiblich,Anteil männlich,Anteil weiblich,mit MH,Anteil mit MH,ohne MH,Anteil ohne MH,unter\n1 500,unter\n1 500 (%),1 500\n–\n2 000,1 500\n–\n2 000 (%),2 000\n–\n3 000,2 000\n–\n3 000 (%),3 000\n–\n4 000,3 000\n–\n4 000 (%),4 000\nund mehr,4 000\nund mehr (%),Gini-Koeffizient,Realtive Armutsgefährdungslücke,Armutsgefährdungsquote,Arbeitslose,Jugendarbeitslosigkeit,Bedarfsgemeinschaften SGB II,Kinderarmut,Grundsicherung im Alter,Kinder in alleinerziehenden SGB II BG
0,Mitte,20200,297700,27200,"9,1","8.400 (2,8%)",43600,"14,6",218400,"73,4",94300,30200,64100,232400,60900,"26,2",19200,"8,3",/,150900,"64,9","14,3",395599,61186,284142,50271,"15,5","71,8","12,7","39,1",204044,191555,"51,6","48,4",224824,"56,8",170 775,"43,2",47200,"21,8",27800,"12,9",52900,"24,5",29900,"13,8",58300,27,"0,35","20,9","23,2","5,2","3,1","18,2","33,5","13,4","12,5"
1,Friedrichshain-Kreuzberg,13600,218900,15600,"7,1","6.600 (3,0%)",26300,12,170400,"77,8",64900,22200,42700,175000,34500,"19,7",12500,"7,1",/,125900,"71,9","13,3",293231,44724,217876,30631,"15,3","74,3","10,4","38,8",149916,143315,"51,1","48,9",140515,"47,9",152 716,"52,1",30100,"18,5",22600,"13,9",39700,"24,4",26900,"16,5",43300,"26,6","0,33","18,3",18,"4,5","3,2","14,4","23,5","13,2",10
2,Pankow,/,313300,15000,"4,8","41.800 (13,3%)",36500,"11,7",220100,"70,3",64100,30500,33600,266800,78600,"29,5",25200,"9,4","11.800 (4,4%)",151200,"56,7","6,5",420768,74344,284280,62144,"17,7","67,6","14,8","41,2",206011,214757,49,51,114400,"27,2",306 368,"72,8",37100,"17,6",23100,11,51800,"24,6",29400,"13,9",69400,"32,9","0,3","20,2","12,1","3,1","1,5",8,"11,1","3,5","6,6"
3,Charlottenburg-Wilmersdorf,/,264600,24700,"9,3",/,52900,20,182200,"68,9",54600,16700,37900,226800,79400,35,17000,"7,5",/,129700,"57,2","9,4",341155,47333,215169,78653,"13,9","63,1","23,1","45,2",164187,176968,"48,1","51,9",152226,"44,6",188 929,"55,4",36000,"19,6",24500,"13,3",38600,21,26500,"14,4",57900,"31,5","0,33","19,1","13,5","3,8","1,6","10,5","17,3","8,7","8,8"
4,Spandau,/,191200,41600,"21,8","9.200 (4,8%)",59700,"31,2",80700,"42,2",61200,11800,49400,147500,82600,56,15800,"10,7",/,48100,"32,6","20,6",254175,46554,154371,53250,"18,3","60,7",21,"43,2",124498,129677,49,51,107746,"42,4",146 429,"57,6",27500,22,17700,"14,2",31500,"25,2",20400,"16,3",27900,"22,3","0,27","20,7","20,4","5,8","3,9","20,6","33,6",7,"15,2"
5,Steglitz-Zehlendorf,/,236700,22500,"9,5",/,54600,"23,1",154400,"65,2",67700,33800,33900,186700,77000,"41,2",13200,"7,1",/,95400,"51,1","10,2",311040,49389,182543,79108,"15,9","58,7","25,4","46,3",146727,164313,"47,2","52,8",97836,"31,5",213 204,"68,5",32200,"21,1",20500,"13,4",32500,"21,3",20200,"13,2",47500,"31,1","0,32","16,2","16,5","2,5","1,1","7,5","11,3",4,"5,8"
6,Tempelhof-Schöneberg,16500,262800,35500,"13,5",/,67600,"25,7",154300,"58,7",82200,26000,56200,206500,94400,"45,7",17000,"8,2",/,94400,"45,7","16,1",353913,55845,223694,74374,"15,8","63,2",21,44,173048,180865,"48,9","51,1",143740,"40,6",210 173,"59,4",43100,23,26700,"14,2",49700,"26,5",27400,"14,6",40600,"21,6","0,29","19,3",18,"4,5","2,6","14,6","23,9",8,"10,7"
7,Neukölln,26700,236100,48600,"20,6","7.800 (3,3%)",61600,"26,1",118100,50,103000,24400,78600,169500,85500,"50,4",15300,9,/,68100,"40,2","25,1",329476,53924,218114,57438,"16,4","66,2","17,4","41,8",164242,165234,"49,8","50,2",163493,"49,6",165 983,"50,4",45500,"27,1",24000,"14,3",38600,"22,9",28400,"16,9",31700,"18,8","0,32","22,2","29,4",7,"4,9","21,3","36,5","10,3","13,5"
8,Treptow-Köpenick,/,220400,17300,"7,8","45.800 (20,8%)",37500,17,119800,"54,4",46400,18200,28200,188600,82600,"43,8",18100,"9,6","12.500 (6,6%)",75400,40,"9,6",289180,47350,181885,59945,"16,4","62,9","20,7","43,9",142133,147047,"49,2","50,8",64580,"22,3",224 600,"77,7",27000,"18,5",21300,"14,6",39000,"26,7",19400,"13,3",39500,27,"0,25","18,8","13,2","3,8",2,"11,5","18,5","2,4","9,7"
9,Marzahn-Hellersdorf,/,215600,26700,"12,4","67.600 (31,4%)",47300,"21,9",74000,"34,3",57900,14600,43300,174500,107100,"61,4",15200,"8,7","14.700 (8,4%)",37500,"21,5","15,5",285678,52357,171984,61337,"18,3","60,2","21,5","43,6",141814,143864,"49,6","50,4",73961,"25,9",211 717,"74,1",28000,"19,9",23700,"16,8",40900,29,25100,"17,8",23300,"16,5","0,25","18,7","20,4","4,5",3,"16,1","26,3","4,2","14,6"
10,Lichtenberg,/,231400,17300,"7,5","57.600 (24,9%)",46600,"20,1",109800,"47,5",59900,18900,41000,190000,94800,"49,9",12100,"6,4","11.200 (5,9%)",72000,"37,9","13,7",308286,53851,196146,58289,"17,5","63,6","18,9",42,153387,154899,"49,8","50,2",101277,"32,9",207 009,"67,1",35800,"22,4",22400,14,43100,27,28400,"17,8",29700,"18,6","0,27","20,2","20,2",5,"2,9","15,6","26,2","4,2","12,9"
11,Reinickendorf,16300,195800,37200,19,/,61000,"31,2",91200,"46,6",70400,19200,51200,152100,86900,"57,1",13600,"6,1",/,50400,"33,1","19,6",268308,46033,160238,62037,"17,2","59,7","23,1","44,6",132041,136267,"49,2","50,8",102315,"38,1",165 993,"61,9",23000,"17,8",20100,"15,5",31900,"24,7",20200,"15,6",33900,"26,2","0,29","17,8","18,8","5,2",3,"18,5","30,9","5,3",13

In [50]:
df_socio_economic = df_socio_economic[['Bezirk', 'ohne Schulabschluss','mit Schulabschluss','ohne Berufsabschluss ins.', 'mit Berufsabschluss','Einwohnende','Durchschnittsalter','unter\n1 500 (%)', '1 500\n–\n2 000 (%)','2 000\n–\n3 000 (%)','3 000\n–\n4 000 (%)', '4 000\nund mehr (%)','Gini-Koeffizient', 'Armutsgefährdungsquote','Arbeitslose']]
df_socio_economic.shape

(12, 15)

In [51]:
merged_df = pd.merge(merged_df, df_socio_economic, left_on='district', right_on='Bezirk', how='left')
merged_df = merged_df.drop(['Bezirk'], axis=1)
merged_df

,id,lng,lat,district,species,genus,street,year,timing_of_watering,watering_quantity_in_liters,temperature_2m_max,temperature_2m_min,temperature_2m_mean,sunrise,sunset,daylight_duration,sunshine_duration,rain_sum,snowfall_sum,wind_speed_10m_max,wind_gusts_10m_max,wind_direction_10m_dominant,ohne Schulabschluss,mit Schulabschluss,ohne Berufsabschluss ins.,mit Berufsabschluss,Einwohnende,Durchschnittsalter,unter\n1 500 (%),1 500\n–\n2 000 (%),2 000\n–\n3 000 (%),3 000\n–\n4 000 (%),4 000\nund mehr (%),Gini-Koeffizient,Armutsgefährdungsquote,Arbeitslose
0,_vhs6sa3vk,13.40757,52.58571,Pankow,Linde,LINDE,Waldowstraße,1984,2021-03-18,10.0,4.058500,-2.8915,0.368917,0.0,0.0,43613.230,38995.04300,0.500000,0.70,27.475807,50.399998,14.954717,/,313300,64100,266800,420768,"41,2","17,6",11,"24,6","13,9","32,9","0,3","12,1","3,1"
1,_vhs6sa3vk,13.40757,52.58571,Pankow,Linde,LINDE,Waldowstraße,1984,2021-03-19,25.0,3.358500,-3.9915,0.258500,0.0,0.0,43863.105,25733.00400,0.000000,0.07,19.969458,33.839996,283.619020,/,313300,64100,266800,420768,"41,2","17,6",11,"24,6","13,9","32,9","0,3","12,1","3,1"
2,_lur9t5w9p,13.35009,52.52184,Mitte,Winter-Linde 'Greenspire',LINDE,Thomasiusstraße,2005,2021-03-20,10.0,9.158501,1.9585,5.046000,0.0,0.0,44112.766,18649.12300,2.100000,0.00,30.421598,54.719997,292.121980,20200,297700,94300,232400,395599,"39,1","21,8","12,9","24,5","13,8",27,"0,35","23,2","5,2"
3,_vhs6sa3vk,13.40757,52.58571,Pankow,Linde,LINDE,Waldowstraße,1984,2021-03-22,10.0,7.608500,3.6085,5.585583,0.0,0.0,44610.863,972.37836,0.000000,0.00,15.893093,27.720000,286.914670,/,313300,64100,266800,420768,"41,2","17,6",11,"24,6","13,9","32,9","0,3","12,1","3,1"
4,_vhs6sa3vk,13.40757,52.58571,Pankow,Linde,LINDE,Waldowstraße,1984,2021-03-22,10.0,7.608500,3.6085,5.585583,0.0,0.0,44610.863,972.37836,0.000000,0.00,15.893093,27.720000,286.914670,/,313300,64100,266800,420768,"41,2","17,6",11,"24,6","13,9","32,9","0,3","12,1","3,1"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44888,_lur9t5w9p,13.35009,52.52184,Mitte,Winter-Linde 'Greenspire',LINDE,Thomasiusstraße,2005,2022-12-15,10.0,-1.791500,-9.0415,-5.191500,0.0,0.0,27631.271,20366.82200,0.000000,0.00,10.086427,18.000000,49.323080,20200,297700,94300,232400,395599,"39,1","21,8","12,9","24,5","13,8",27,"0,35","23,2","5,2"
44889,_lur9t5w9p,13.35009,52.52184,Mitte,Winter-Linde 'Greenspire',LINDE,Thomasiusstraße,2005,2022-12-17,10.0,-2.491500,-7.4915,-5.847750,0.0,0.0,27569.947,21621.82000,0.000000,0.00,17.610588,29.160000,148.609790,20200,297700,94300,232400,395599,"39,1","21,8","12,9","24,5","13,8",27,"0,35","23,2","5,2"
44890,_lur9t5w9p,13.35009,52.52184,Mitte,Winter-Linde 'Greenspire',LINDE,Thomasiusstraße,2005,2022-12-20,10.0,6.808500,4.3085,5.558500,0.0,0.0,27526.953,0.00000,2.800000,0.00,16.394829,29.880000,210.208280,20200,297700,94300,232400,395599,"39,1","21,8","12,9","24,5","13,8",27,"0,35","23,2","5,2"
44891,_lur9t5w9p,13.35009,52.52184,Mitte,Winter-Linde 'Greenspire',LINDE,Thomasiusstraße,2005,2022-12-22,10.0,6.358500,3.2085,4.662667,0.0,0.0,27531.520,7266.53700,5.900001,0.00,13.202726,23.039999,228.884500,20200,297700,94300,232400,395599,"39,1","21,8","12,9","24,5","13,8",27,"0,35","23,2","5,2"
44892,_lur9t5w9p,13.35009,52.52184,Mitte,Winter-Linde 'Greenspire',LINDE,Thomasiusstraße,2005,2022-12-24,10.0,8.008500,4.9085,6.173083,0.0,0.0,27563.006,1775.98520,5.200000,0.00,18.899143,31.680000,171.450380,20200,297700,94300,232400,395599,"39,1","21,8","12,9","24,5","13,8",27,"0,35","23,2","5,2"

In [52]:
merged_df = merged_df.rename(columns={'ohne Schulabschluss':'no_degree','mit Schulabschluss':'with_degree','ohne Berufsabschluss ins.':'no_prof_qualification','mit Berufsabschluss': 'prof_qualification','Einwohnende':'residents','Durchschnittsalter':'avg_age','unter\n1 500 (%)':'below 1500 (%)','1 500\n–\n2 000 (%)':'1500-2000 (%)','2 000\n–\n3 000 (%)':'2000-3000 (%)', '3 000\n–\n4 000 (%)':'3000-4000 (%)', '4 000\nund mehr (%)':'4000 and more (%)','Gini-Koeffizient':'gini_coefficient','Armutsgefährdungsquote' :'at_risk_of_poverty_rate', 'Arbeitslose': 'unemployed'})
merged_df

,id,lng,lat,district,species,genus,street,year,timing_of_watering,watering_quantity_in_liters,temperature_2m_max,temperature_2m_min,temperature_2m_mean,sunrise,sunset,daylight_duration,sunshine_duration,rain_sum,snowfall_sum,wind_speed_10m_max,wind_gusts_10m_max,wind_direction_10m_dominant,no_degree,with_degree,no_prof_qualification,prof_qualification,residents,avg_age,below 1500 (%),1500-2000 (%),2000-3000 (%),3000-4000 (%),4000 and more (%),gini_coefficient,at_risk_of_poverty_rate,unemployed
0,_vhs6sa3vk,13.40757,52.58571,Pankow,Linde,LINDE,Waldowstraße,1984,2021-03-18,10.0,4.058500,-2.8915,0.368917,0.0,0.0,43613.230,38995.04300,0.500000,0.70,27.475807,50.399998,14.954717,/,313300,64100,266800,420768,"41,2","17,6",11,"24,6","13,9","32,9","0,3","12,1","3,1"
1,_vhs6sa3vk,13.40757,52.58571,Pankow,Linde,LINDE,Waldowstraße,1984,2021-03-19,25.0,3.358500,-3.9915,0.258500,0.0,0.0,43863.105,25733.00400,0.000000,0.07,19.969458,33.839996,283.619020,/,313300,64100,266800,420768,"41,2","17,6",11,"24,6","13,9","32,9","0,3","12,1","3,1"
2,_lur9t5w9p,13.35009,52.52184,Mitte,Winter-Linde 'Greenspire',LINDE,Thomasiusstraße,2005,2021-03-20,10.0,9.158501,1.9585,5.046000,0.0,0.0,44112.766,18649.12300,2.100000,0.00,30.421598,54.719997,292.121980,20200,297700,94300,232400,395599,"39,1","21,8","12,9","24,5","13,8",27,"0,35","23,2","5,2"
3,_vhs6sa3vk,13.40757,52.58571,Pankow,Linde,LINDE,Waldowstraße,1984,2021-03-22,10.0,7.608500,3.6085,5.585583,0.0,0.0,44610.863,972.37836,0.000000,0.00,15.893093,27.720000,286.914670,/,313300,64100,266800,420768,"41,2","17,6",11,"24,6","13,9","32,9","0,3","12,1","3,1"
4,_vhs6sa3vk,13.40757,52.58571,Pankow,Linde,LINDE,Waldowstraße,1984,2021-03-22,10.0,7.608500,3.6085,5.585583,0.0,0.0,44610.863,972.37836,0.000000,0.00,15.893093,27.720000,286.914670,/,313300,64100,266800,420768,"41,2","17,6",11,"24,6","13,9","32,9","0,3","12,1","3,1"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44888,_lur9t5w9p,13.35009,52.52184,Mitte,Winter-Linde 'Greenspire',LINDE,Thomasiusstraße,2005,2022-12-15,10.0,-1.791500,-9.0415,-5.191500,0.0,0.0,27631.271,20366.82200,0.000000,0.00,10.086427,18.000000,49.323080,20200,297700,94300,232400,395599,"39,1","21,8","12,9","24,5","13,8",27,"0,35","23,2","5,2"
44889,_lur9t5w9p,13.35009,52.52184,Mitte,Winter-Linde 'Greenspire',LINDE,Thomasiusstraße,2005,2022-12-17,10.0,-2.491500,-7.4915,-5.847750,0.0,0.0,27569.947,21621.82000,0.000000,0.00,17.610588,29.160000,148.609790,20200,297700,94300,232400,395599,"39,1","21,8","12,9","24,5","13,8",27,"0,35","23,2","5,2"
44890,_lur9t5w9p,13.35009,52.52184,Mitte,Winter-Linde 'Greenspire',LINDE,Thomasiusstraße,2005,2022-12-20,10.0,6.808500,4.3085,5.558500,0.0,0.0,27526.953,0.00000,2.800000,0.00,16.394829,29.880000,210.208280,20200,297700,94300,232400,395599,"39,1","21,8","12,9","24,5","13,8",27,"0,35","23,2","5,2"
44891,_lur9t5w9p,13.35009,52.52184,Mitte,Winter-Linde 'Greenspire',LINDE,Thomasiusstraße,2005,2022-12-22,10.0,6.358500,3.2085,4.662667,0.0,0.0,27531.520,7266.53700,5.900001,0.00,13.202726,23.039999,228.884500,20200,297700,94300,232400,395599,"39,1","21,8","12,9","24,5","13,8",27,"0,35","23,2","5,2"
44892,_lur9t5w9p,13.35009,52.52184,Mitte,Winter-Linde 'Greenspire',LINDE,Thomasiusstraße,2005,2022-12-24,10.0,8.008500,4.9085,6.173083,0.0,0.0,27563.006,1775.98520,5.200000,0.00,18.899143,31.680000,171.450380,20200,297700,94300,232400,395599,"39,1","21,8","12,9","24,5","13,8",27,"0,35","23,2","5,2"

In [53]:
merged_df.isna().sum()

id                             0
lng                            0
lat                            0
district                       0
species                        0
genus                          0
street                         0
year                           0
timing_of_watering             0
watering_quantity_in_liters    0
temperature_2m_max             0
temperature_2m_min             0
temperature_2m_mean            0
sunrise                        0
sunset                         0
daylight_duration              0
sunshine_duration              0
rain_sum                       0
snowfall_sum                   0
wind_speed_10m_max             0
wind_gusts_10m_max             0
wind_direction_10m_dominant    0
no_degree                      0
with_degree                    0
no_prof_qualification          0
prof_qualification             0
residents                      0
avg_age                        0
below 1500 (%)                 0
1500-2000 (%)                  0
2000-3000 (%)                  0
3000-4000 (%)                  0
4000 and more (%)              0
gini_coefficient               0
at_risk_of_poverty_rate        0
unemployed                     0
dtype: int64

In [54]:
merged_df.to_csv('merged_clean_data.csv', index=False)